@using Aisger
@using GridMvc.Html
@model Aisger.Models.RST_ReportFilter
@Html.Partial("~/Views/Home/MenuItem.cshtml")
@Html.Partial("~/Views/Home/EditHeaderView.cshtml")
<div id="B">
    <ul class="titlegroup" style="margin-top: 8px;">
        <li style="font-size: 18px; color: #2679b5;" id="parentLabel"> @ResourceSetting.Reestr  <span></span></li>
        <li id="selectLabel"> <span class="glyphicon glyphicon-arrow-right"></span>  @ResourceSetting.RST_Report </li>
    </ul>
    <div id="wrapper_grid" style="margin-left: 50px;margin-bottom: 100px">
        @using (Html.BeginForm("Edit", "RstReport", FormMethod.Post, new { id = "demoForm", name = "demoForm" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ReportId)
            <div class="col-sm-6">
                @Html.Label("Год")
                <div class="input">
                    @Html.TextBoxFor(model => model.ReportYear, new { @readonly = "readonly", @style = "width: 80%", @disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-6">
                @Html.Label(ResourceSetting.biniinOwner)
                <div class="input">
                    @Html.TextBoxFor(model => model.BINIIN, new { @style = "width: 80%" })
                </div>
            </div>
            <div class="col-sm-6">
        @Html.Label(ResourceSetting.Address)
        <div class="input">
            @Html.TextBoxFor(model => model.Adress, new { @style = "width: 80%" })
        </div>
    </div>
            <div class="col-sm-6">
                @Html.Label(ResourceSetting.SubPerson)
                <div class="input">
                    @Html.TextBoxFor(model => model.SubjectName, new { @style = "width: 80%" })
                </div>
            </div>
            <div class="col-sm-6">
                @Html.Label(ResourceSetting.RstDicStatus)
                <div class="input">
                    <div class="chzn-select">
                        @Html.ListBoxFor(x => Model.Statuses, Model.StatusList,
                        new { @class = "chzn-select", data_placeholder = "Статусы...", @style = "width: 80%"})
                    </div>
                    </div>
                </div>
            <div class="col-sm-6">
                @Html.Label(ResourceSetting.ReportReason)
                <div class="input">
                    <div class="chzn-select">
                        @Html.ListBoxFor(x => Model.Reasons, Model.ReasonList,
                            new { @class = "chzn-select", data_placeholder = "Отметки...",  @style = "width: 80%" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                @Html.Label(ResourceSetting.Oblast)
                <div class="input">
                    <div class="chzn-select">
                        @Html.ListBoxFor(x => Model.Oblasts, Model.OblastList,
                            new { @class = "chzn-select", data_placeholder = "Выберите области...", @style = "width: 90%" })
                    </div>
                </div>
            </div>
    <div style="float: left">

        <div class="input-group" style="width: 200px">
            <span class="input-group-addon" id="basic-addon1">Кол-во записей:</span>
            <input type="text" readonly="readonly" class="form-control" id="objectCount" aria-describedby="basic-addon1" value="@Model.RstReportReestrs.Count()">
        </div>
    </div>
            <div style="float: right">
               


                <button type="button" class="btn btn-success btn-sm" id="exportBtn">
                    <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Экспорт Excel
                </button>
                <button type="button" class="btn btn-info btn-sm" id="addBtn">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Применить
                </button>

            </div>
        }

        @Html.Partial("~/Views/RstReport/GridEditView.cshtml", @Model.RstReportReestrs)
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {

        
        $("#exportBtn").click(function () {

            var status = "";
            var reason = "";
            var oblast = "";
            if ($("#Statuses").val() != null) {
                status = $("#Statuses").val().join(',');
            }
            if ($("#Reasons").val() != null) {
                reason = $("#Reasons").val().join(',');
            }
            if ($("#Oblasts").val() != null) {
                oblast = $("#Oblasts").val().join(',');
            }
            var url = "/RstReport/ExportExcel?id=" + @Model.ReportId + '&biniin=' + $("#BINIIN").val() + '&adress=' + $("#Adress").val() + '&owner=' + $("#SubjectName").val();
            if (status.length > 0) {
                url += '&status=' + status;
            }
            if (reason.length > 0) {
                url += '&reason=' + reason;
            }
            if (oblast.length > 0) {
                url += '&oblast=' + oblast;
            }
            window.location = url;
        });
        $("#addBtn").click(function () {

            var status = "";
            var reason = "";
            var oblast = "";
            if ($("#Statuses").val() != null) {
                status = $("#Statuses").val().join(',');
            }
            if ($("#Reasons").val() != null) {
                reason = $("#Reasons").val().join(',');
            }
            if ($("#Oblasts").val() != null) {
                oblast = $("#Oblasts").val().join(',');
            }
            var url = "/RstReport/Edit?id=" + @Model.ReportId + '&biniin=' + $("#BINIIN").val() + '&adress=' + $("#Adress").val() + '&owner=' + $("#SubjectName").val();
            if (status.length > 0) {
                url += '&status=' + status;
            }
            if (reason.length > 0) {
                url += '&reason=' + reason;
            }
            if (oblast.length > 0) {
                url += '&oblast=' + oblast;
            }
            window.location = url;
        });
    });
</script>