@using Aisger
@model Aisger.Models.SUB_FormComment

<div id="content" style="height: 200px">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#f1tab" data-toggle="tab">@ResourceSetting.sComment</a></li>
        <li><a data-target="#f2tab" data-toggle="tab">@ResourceSetting.History</a></li>
    </ul>
<div class="tab-content">
    <div class="tab-pane active" id="f1tab">
        <div class="input-group">
            <span class="input-group-addon">
                @Html.CheckBoxFor(model => model.IsError)
            </span>
            <input type="text" class="form-control" aria-label="..." value="@ResourceSetting.FieldError" readonly="readonly">
        </div><!-- /input-group -->
        <textarea cols="20" id="NoteComment" name="NoteComment" rows="2" placeholder="@ResourceSetting.Description" style="width: 100%; height: 100px;"></textarea>

        @foreach (var entity in Model.SUB_FormComRecord.OrderByDescending(e => e.Id))
        {
            var className = "aleralert alert-info";
            if (Model.SUB_Form != null && entity.UserId == Model.SUB_Form.UserId)
            {
                className = "alert alert-success";
            }
            <div class="@className" role="alert" style="text-align: left">
                <p>@entity.Note </p>
                <p><b>@ResourceSetting.sFieldValue:</b> @entity.ValueField</p>
                <p style="text-align: right;font-size: 12px"><b>@ResourceSetting.RegDate:</b> @entity.CreateDateStr <b>  @ResourceSetting.Autor:</b>@entity.OwnerName</p>

            </div>
        }
    </div>
    <div class="tab-pane" id="f2tab">
        @foreach (var entity in Model.SubFormRecordHistories.OrderByDescending(e => e.Id))
        {

            <div class="alert alert-info" role="alert" style="text-align: left">
                <p><b>@ResourceSetting.sFieldValue:</b> @entity.FieldValue</p>
                <p><b>@ResourceSetting.RegDate:</b> @entity.CreateDateStr</p>
                <p><b>@ResourceSetting.Autor:</b> @entity.OwnerName</p>
            </div>
        }
    </div>
    </div>
    </div>

<script type="text/javascript">

</script>