@using System.Globalization
@using System.Threading
@using Aisger
@using Aisger.Helpers
@using Aisger.Models.Entity
@model IEnumerable<MainPageInfoModel>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>АИС ГЭР</title>
    <meta name="description" content="EXCEPTION – Responsive Business HTML Template">
    <meta name="author" content="EXCEPTION">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Put favicon.ico and apple-touch-icon(s).png in the images folder -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- CSS StyleSheets -->
    <link rel="stylesheet" href="@Url.Content("~/Content/menu/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/menu/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/menu/prettyPhoto.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/menu/slick.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/menu/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/menu/responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/menu/skins/skin3.css")">

    <!--[if lt IE 9]>
            <link rel="stylesheet" href="~/css/ie.css">
            <script type="text/javascript" src="js/html5.js"></script>
        <![endif]-->
    <!-- Skin style (** you can change the link below with the one you need from skins folder in the css folder **) -->
    <script>
        var rootUrl = '/';
    </script>

    <!-- Load JS siles -->
    <style>
        BODY {
            overflow: auto;
        }
    </style>
</head>
<body>

    <!-- site preloader start -->
    <div class="page-loader">
        <div class="loader-in"></div>
    </div>
    <!-- site preloader end -->

    <div class="pageWrapper">

        <!-- login box start -->
        <!-- login box End -->
        <!-- Header Start -->
        <div id="headWrapper" class="clearfix">

            <!-- top bar start -->

            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="cell-5">
                            <ul>
                                <li class="hide"><a href="mailto:info@aisger.kz"><i class="fa fa-envelope"></i>info@aisger.kz</a></li>
                                <li>
                                    <span>
                                        @if (Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == CultureHelper.Ru)
                                        {
                                            <ul style="border:0px;">
                                                <li style="border:0px;">
                                                    <a target="_blank" href="https://www.youtube.com/channel/UC5Ma2JVDkX-fPrnekZ9FJxA" style="color: red;">Видеоинструкции</a>
                                                </li>
                                                <li style="border:0px;">
                                                    <a href="/Home/VideoInstructions" target="_blank" class="fa fa-arrow-down" title="Скачать видеоинструкцию"></a>
                                                </li>
                                            </ul>


                                        }
                                        else
                                        {
                                            <ul style="border:0px;">
                                                <li style="border:0px;">
                                                    <a target="_blank" href="https://www.youtube.com/channel/UC5Ma2JVDkX-fPrnekZ9FJxA" style="color: red;">Бейненұсқаулар</a>
                                                </li>
                                                <li style="border:0px;">
                                                    <a href="/Home/VideoInstructions" target="_blank" class="fa fa-arrow-down" title="Скачать видеоинструкцию"></a>
                                                </li>
                                            </ul>

                                        }

                                        <!-- <i class="fa fa-phone"></i>Телефон: +7 (7172) 91-65-90 -->
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="cell-7 right-bar">
                            <ul>
                                <li><span style="color:red" class="test-span"></span></li>
                            </ul>
                            <ul class="left" style="float: right">
                                <li class="hide"><a href="@Url.Action("RegistrationGuest", "Account")"><i class="fa fa-user"></i>@ResourceSetting.Registration</a></li>
                                <li><a href="@Url.Action("Logon", "Account")"><i class="fa fa-unlock-alt"></i>@ResourceSetting.Enter</a></li>
                            </ul>
                            <ul class="left" style="float: right;">
                                <li><a href="@Url.Action("ChangeCulture", "Account", new { lang = Aisger.Helpers.CultureHelper.Kk })">ҚАЗ</a></li>
                                <li><a href="@Url.Action("ChangeCulture", "Account", new { lang = Aisger.Helpers.CultureHelper.Ru })">РУС</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top bar end <!--

                                 <!-- Logo, global navigation menu and search start -->
            <!-- Logo, Global navigation menu and search end -->

        </div>
        <!-- Header End -->
        <!-- Content Start -->


        <div id="contentWrapper">

            <!-- Welcome Box start -->
            <div class="apply-application hide">
                <div class="container">
                    <div class="center block-head">
                        @ResourceSetting.DevelopmentOfGPP @*Развитие ГЧП в энергосбережении РК*@
                        <br>
                        @*<h4><a href="http://85.29.129.206/Account/RegistrationGuest?kindUserId=5">@ResourceSetting.ApplyApplication</a></h4>*@
                        <h4><a href="@Url.Action("RegistrationGuest", "Account", new { kindUserId = 5 })">@ResourceSetting.ApplyApplication</a></h4>
                    </div>
                </div>
            </div>
            <div class="welcome" style="padding: 10px">
                <div class="container">
                    @if (Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName == CultureHelper.Ru)
                    {
                        <div style="float:right;background-color:#1a53af;color:white;padding:10px;">Для входа в портал обновите <a href="http://www.pki.gov.kz/index.php/ru/ncalayer" style="color:white;">NCALayer</a></div>
                    }
                    else
                    {
                        <div style="float:right;background-color:#1a53af;color:white;padding:10px;">Порталға кіру үшин <a href="http://www.pki.gov.kz/index.php/ru/ncalayer" style="color:white;">NCALayer</a> жаңартыңыз </div>
                    }
                    <h3 class="center block-head">@ResourceSetting.SummaryInfo</h3>
                </div>
            </div>
            <!-- Welcome Box end -->
            <!--<div class="news-site">
                <!-- <div class="padd-vertical-30">-->
            <!--<div class="container">
                    Сведения
                </div>
                <!--  </div>
                </div>-->
            <!-- FUN Staff start -->

            <div class="fun-staff staff-1 block-bg-2 sectionWrapper" style="padding: 80px">
                <div class="container">
                    <!-- staff item start -->
                    <div class="cell-2 fx" data-animate="fadeInDown" data-animation-delay="200">
                        @{
                            var subGer = Model.Where(x => x.name.Equals("субъекты гэр")).FirstOrDefault();
                            <div class="fun-number" oldval="6364">@subGer.cn</div>
                            @*<div class="fun-number" oldval="6364">@MyExtensions.GetVal("субъекты гэр")</div>*@
                        }
                        <div class="fun-text main-bg">@ResourceSetting.SubjectPage</div>
                        <div class="fun-icon"><i class="fa fa-group"></i></div>
                    </div>
                    <!-- staff item end -->
                    <!-- staff item start -->

                    <div class="cell-2 fx" data-animate="fadeInDown" data-animation-delay="400">
                        @{
                            var excluded = Model.Where(x => x.name.Equals("исключено")).FirstOrDefault();
                            <div class="fun-number" oldval="6364">@excluded.cn</div>
                        }
                        <div class="fun-text main-bg">@ResourceSetting.tExcluded</div>
                        <div class="fun-icon"><i class="fa fa-clock-o"></i></div>
                    </div>
                    <!-- staff item end -->
                    <!-- staff item start -->
                    <div class="cell-4 fx" data-animate="fadeInDown">
                        <div class="fun-title extraBold" style="font-size: 28px; margin-top: 17px;">@ResourceSetting.tStateOn</div> <!-- @ResourceSetting.tStateOn <br><span>05.06.2018</span>-->
                    </div>
                    <div class="cell-2 fx" data-animate="fadeInDown" data-animation-delay="600">
                        @{
                            var evaded = Model.Where(x => x.name.Equals("уклонились")).FirstOrDefault();
                            <div class="fun-number" oldval="6364">@evaded.cn</div>
                        }
                        <div class="fun-text main-bg">@ResourceSetting.tBias</div>
                        <div class="fun-icon"><i class="fa fa-bell"></i></div>
                    </div>
                    <!-- staff item end -->
                    <!-- staff item start -->
                    <div class="cell-2 fx" data-animate="fadeInDown" data-animation-delay="800">
                        @{
                            var reestr = Model.Where(x => x.name.Equals("в реестре")).FirstOrDefault();
                            <div class="fun-number" oldval="6364">@reestr.cn</div>
                        }
                        <div class="fun-text main-bg">@ResourceSetting.tBalance</div>
                        <div class="fun-icon"><i class="fa fa-leaf"></i></div>
                    </div>
                    <!-- staff item end -->
                </div>
                <!-- .container end -->
            </div>
            <!-- .funn-staff end -->
            <!-- FUN Staff end -->
            <!-- Services boxes style 1 start -->
            <!--
                <div class="gry-bg">
                    <div class="container">
                        <div class="row">
                            <div class="cell-3 service-box-1 fx" data-animate="fadeInUp" data-animation-delay="200">
                                <div class="box-top">
                                    <i class="fa fa-leaf"></i>
                                    <h3><span>Подготовка</span><br>
                                        Программа</h3>
                                    <p>Энергоаудиторская организация составляет программу проведения энергоаудита с указанием сроков выполнения работ и ответственных лиц. К Программе прилагается соответствующий регламент приборных измерений, а также полный перечень объектов.</p>
                                    <a class="more-btn" href="services.html">Подробно</a>
                                </div>
                            </div>
                            <div class="cell-3 service-box-1 fx" data-animate="fadeInUp" data-animation-delay="400">
                                <div class="box-top">
                                    <i class="fa fa-recycle"></i>
                                    <h3><span>Измерение</span><br>
                                        Мероприятия</h3>
                                    <p>Приборные измерения параметров работы оборудования в соответствии с утвержденной Программой; инструментальное обследование здания, строения, сооружения; снятие данных со штатных приборов предприятия (поверенных).</p>
                                    <a class="more-btn" href="services.html">Подробно</a>
                                </div>
                            </div>
                            <div class="cell-3 service-box-1 fx" data-animate="fadeInUp" data-animation-delay="600">
                                <div class="box-top">
                                    <i class="fa fa-puzzle-piece"></i>
                                    <h3><span>Аналитика</span><br>
                                        Обработка</h3>
                                    <p>Анализ полученных на измерительном этапе информации и результатов измерений (испытаний); анализ полученных на подготовительном этапе исходных данных;</p>
                                    <a class="more-btn" href="services.html">Подробно</a>
                                </div>
                            </div>
                            <div class="cell-3 service-box-1 fx" data-animate="fadeInUp" data-animation-delay="800">
                                <div class="box-top">
                                    <i class="fa fa-legal"></i>
                                    <h3><span>Заключение</span><br>
                                        Результат</h3>
                                    <p>На заключительном этапе энергоаудиторской организацией обобщаются результаты анализа использования энергетических ресурсов технологическими процессами, зданием, строением, сооружением, по группам оборудования и видам энергоносителей.</p>
                                    <a class="more-btn" href="services.html">Подробно</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Services boxes style 1 start -->
            <!-- About us and Features container start -->
            <div class="sectionWrapper" style="padding: 20px 0px 20px 0px">
                <div class="container">
                    <div class="row">
                        <!-- about us left block -->
                        <div class="cell-7">
                            <!-- testimonials start -->
                            <div class="fx" data-animate="fadeInLeft">
                                <h3 class="block-head">@ResourceSetting.tMetodicAndOrders</h3>

                                <div class="testimonials-1">

                                    <!-- testimonials item start -->
                                    <div>
                                        <div class="testimonials-bg">
                                            <!-- <img alt="" src="images/people/1.jpg" class="testimonials-img"> -->
                                            <span>
                                                @ResourceSetting.tReestrSubjectGer
                                                <br>
                                                <br>
                                                <a target="blank" href="http://kazee.kz/userfiles/ufiles/gerFiles/perechen_subektov_gosudarstvennogo_energeticheskogo_reestra_2018_kz.pdf">@ResourceSetting.tDownloadOnKz</a>
                                                <br>
                                                <a target="blank" href="http://kazee.kz/userfiles/ufiles/gerFiles/perechen_subektov_gosudarstvennogo_energeticheskogo_reestra_2018_rus.pdf">@ResourceSetting.tDownloadOnRus</a>
                                            </span>
                                            <!--    <div class="rating">Методика по предоставлению субъектами ГЭР информации, необходимой для формирования и ведения ГЭР
                                                        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span>
                                                    </div>-->
                                        </div>
                                        <div class="testimonials-name">@ResourceSetting.tSource: <strong>@ResourceSetting.tNPA</strong> </div>
                                    </div>
                                    <!-- testimonials item end -->
                                    <!-- testimonials item start -->
                                    <div>
                                        <div class="testimonials-bg">
                                            <!-- <img alt="" src="images/people/1.jpg" class="testimonials-img"> -->
                                            <span>
                                                @*@ResourceSetting.tRulesGer<br>*@
                                                <a href="http://kazee.kz/userfiles/ufiles/gerFiles/ob_utverzhdenii_pravil_formirovaniya_i_vedeniya_gosudarstvennogo_energeticheskogo_reestra.pdf">@ResourceSetting.tOrderMIR</a>
                                            </span>
                                            <div class="rating">
                                                <!-- <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span> -->
                                            </div>
                                        </div>
                                        <div class="testimonials-name">@ResourceSetting.tSource: <strong>@ResourceSetting.tOrderMIRRK</strong></div>
                                    </div>
                                    <!-- testimonials item end -->
                                    <!-- testimonials item start -->
                                    <div>
                                        <div class="testimonials-bg">
                                            <!--    <img alt="" src="images/people/1.jpg" class="testimonials-img"> -->
                                            <span>
                                                <a href="http://kazee.kz/userfiles/ufiles/zakonodatelstvo/ob_opredelenii_natsionalnogo_instituta_razvitiya_v_oblasti_energosberezheniya_i_povysheniya_energoeffektivnosti.docx">@ResourceSetting.tAboutNIREE</a>
                                            </span>
                                            <!-- <div class="rating">
                                                     <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span>
                                                 </div> -->
                                        </div>
                                        <div class="testimonials-name">@ResourceSetting.tSource: <strong>@ResourceSetting.tOrderMIRRK</strong></div>
                                    </div>
                                    <!-- testimonials item end -->
                                    <!-- testimonials item start -->
                                    <div>
                                        <div class="testimonials-bg">
                                            <!--<img alt="" src="images/people/1.jpg" class="testimonials-img">-->
                                            <span>
                                                <a href="http://kazee.kz/userfiles/ufiles/zakonodatelstvo/zakon_ob_energosberezhenii_i_povyshenii_energoeffektivnosti.doc">@ResourceSetting.tLawRkAboutEE</a>
                                            </span>
                                            <!--  <div class="rating">
                                                      <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                                  </div>-->
                                        </div>
                                        <div class="testimonials-name">@ResourceSetting.tSource: <strong>@ResourceSetting.tlawRk</strong></div>
                                    </div>
                                    <!-- testimonials item end -->
                                </div>
                                <p class="padd-top-20">
                                    <strong>@ResourceSetting.tPortalMainPupose</strong><br>@ResourceSetting.tCreateAndmaintanceReestr
                                    <br>@ResourceSetting.tCreateAndMaintanceCardEE
                                    <!--  <br>@ResourceSetting.tSupportEE2020 -->

                                </p>
                            </div>
                            <!-- testimonials end -->
                            21789
                        </div>
                        <!-- about us left block end -->
                        <!-- our skills right block -->
                        <div class="cell-5 fx" data-animate="fadeInRight">
                            <h3 class="block-head">@String.Format(ResourceSetting.tInfoAboutSubjectGer, 2019)</h3>
                            <ul class="levels">
                                <li>
                                    <!--Государственные учреждения - 3290
                                    Квазигосударственный сектор - 1949
                                    Юридические лица - 837
                                    -->
                                    @{
                                        var gu = Model.Where(x => x.name.Equals("гу")).FirstOrDefault();
                                        <div class="level-name">@ResourceSetting.tGevenmentAgencies - @gu.cn</div>
                                    }
                                    <div class="level-out">
                                        <span></span>
                                        <div class="level-in" data-percent="63"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    @{
                                        var kv = Model.Where(x => x.name.Equals("кв")).FirstOrDefault();
                                        <div class="level-name">@ResourceSetting.tGevenmentAgencies - @kv.cn</div>
                                    }
                                    <div class="level-out">
                                        <span></span>
                                        <div class="level-in" data-percent="20.5"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    @{
                                        var ul = Model.Where(x => x.name.Equals("юл")).FirstOrDefault();
                                        <div class="level-name">@ResourceSetting.tGevenmentAgencies - @ul.cn</div>
                                    }
                                    <div class="level-out">
                                        <span></span>
                                        <div class="level-in" data-percent="17"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    @{
                                        var ip = Model.Where(x => x.name.Equals("ип")).FirstOrDefault();
                                        <div class="level-name">@ResourceSetting.tGevenmentAgencies - @ip.cn</div>
                                    }
                                    <div class="level-out">
                                        <span></span>
                                        <div class="level-in" data-percent="0.04"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- our skills right block end -->
                    </div>
                </div>
            </div>
            <!-- About us and Features container end -->



        </div>

        <!-- Content End -->
        <!-- Footer start -->
        <footer id="footWrapper">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <!-- main menu footer cell start -->
                        @*                        <div class="cell-3">*@
                        @*                            <h3 class="block-head">@ResourceSetting.tAdministration</h3>*@
                        @*                            <ul class="footer-menu">*@
                        @*                                <li><a href="#">@ResourceSetting.Reestr</a></li>*@
                        @*                                <li><a href="#">@ResourceSetting.tNotification</a></li>*@
                        @*                                <li><a href="#">@ResourceSetting.Users</a></li>*@
                        @*                                <li><a href="#">@ResourceSetting.Roles</a></li>*@
                        @*                            </ul>*@
                        @*                        </div>*@
                        <!-- main menu footer cell start -->
                        <!-- main menu footer cell start -->
                        @*                        <div class="cell-3">*@
                        @*                            <h3 class="block-head">&nbsp;</h3>*@
                        @*                            <ul class="footer-menu">*@
                        @*                                <li><a href="#">@ResourceSetting.Dictionary</a></li>*@
                        @*                                <li><a href="#">@ResourceSetting.tSystemParameter </a></li>*@
                        @*                                <li><a href="#">@ResourceSetting.tSystemLogs</a></li>*@
                        @*                                <li><a href="#">@ResourceSetting.tChangeControl</a></li>*@
                        @*                            </ul>*@
                        @*                        </div>*@
                        <!-- main menu footer cell start -->
                        <!-- Useful Links footer cell start -->
                        <div class="cell-3">
                        </div>
                        <!-- Useful Links footer cell start -->
                        <!-- contact us footer cell start -->
                        <div class="cell-3">
                            <h3 class="block-head">@ResourceSetting.tCentralOffice</h3>
                            <ul>
                                <li class="footer-contact">
                                    <i class="fa fa-globe"></i>
                                    @if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == CultureHelper.Ru)
                                    {
                                        <span>
                                            г.Астана,ул.Шарля де Голля, 3а.
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            Астана қ, Шарль де Голль  көшесі,  3а.
                                        </span>
                                    }
                                </li>
                                <li class="footer-contact">
                                    <i class="fa fa-home"></i>
                                    @if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == CultureHelper.Ru)
                                    {
                                        <span>
                                            6 этаж.
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            6 қабат.
                                        </span>
                                    }
                                </li>
                                <li class="footer-contact"><i class="fa fa-phone"></i><span>+7 (7172) 91-65-90</span></li>
                                <li class="footer-contact">
                                    <i class="fa fa-map-marker"></i><span>
                                        @*                                    <a target="_blank" href="https://www.google.kz/maps/place/7-%D0%B9+%D0%9A%D0%BE%D0%BD%D1%82%D0%B8%D0%BD%D0%B5%D0%BD%D1%82,+%D1%83%D0%BB.+%D0%9A%D0%B5%D0%BD%D0%B5%D1%81%D0%B0%D1%80%D1%8B,+%D0%90%D1%81%D1%82%D0%B0%D0%BD%D0%B0+010000/51.165203,71.43249,206m/data=!3m2!1e3!4b1!4m13!1m7!3m6!1s0x4245812f0310fd97:0xb1a094daf7ddb615!2z0YPQuy4g0JrQtdC90LXRgdCw0YDRiyA0MCwg0JDRgdGC0LDQvdCwIDAxMDAwMA!3b1!8m2!3d51.1671847!4d71.4413647!3m4!1s0x4245812d1d52561f:0x10f2a822d7cf6a32!8m2!3d51.165203!4d71.4331088?hl=ru&_blank">@ResourceSetting.tViewOnMap</a>*@
                                        <a target="_blank" href="https://2gis.kz/astana/geo/9570784863333578%2C71.448973%2C51.142236?queryState=center%2F71.447842%2C51.142538%2Fzoom%2F17">@ResourceSetting.tViewOnMap</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!-- contact us footer cell end -->

                        <div class="clearfix"></div>
                        <hr class="hr-style5">
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>

            <!-- footer bottom bar start -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <!-- footer copyrights left cell -->
                        <div class="copyrights cell-5">&copy; @ResourceSetting.TNIREE </div>

                        <!-- footer social links right cell start -->
                        <div class="cell-7">
                            @*                            <ul class="social-list right">*@
                            @*                                <li class="skew-25"><a href="#" data-title="dribbble" data-tooltip="true"><span class="fa fa-dribbble skew25"></span></a></li>*@
                            @*                                <li class="skew-25"><a href="#" data-title="facebook" data-tooltip="true"><span class="fa fa-facebook skew25"></span></a></li>*@
                            @*                                <li class="skew-25"><a href="#" data-title="linkedin" data-tooltip="true"><span class="fa fa-linkedin skew25"></span></a></li>*@
                            @*                                <li class="skew-25"><a href="#" data-title="skype" data-tooltip="true"><span class="fa fa-skype skew25"></span></a></li>*@
                            @*                                <li class="skew-25"><a href="#" data-title="tumbler" data-tooltip="true"><span class="fa fa-tumblr skew25"></span></a></li>*@
                            @*                                <li class="skew-25"><a href="#" data-title="twitter" data-tooltip="true"><span class="fa fa-twitter skew25"></span></a></li>*@
                            @*                                <li class="skew-25"><a href="#" data-title="YouTube" data-tooltip="true"><span class="fa fa-youtube skew25"></span></a></li>*@
                            @*                            </ul>*@
                        </div>
                        <!-- footer social links right cell end -->

                    </div>
                </div>
            </div>
            <!-- footer bottom bar end -->


        </footer>
        <!-- Footer end -->
        <!-- Back to top Link -->
        <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>

    </div>
    <div id="myModal" class="modal2" style="display: block;">

        <!-- Modal content -->
        <div class="modal2-content">
            <div class="modal2-header">
                <span class="close">×</span>

            </div>
            <div class="modal2-body">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="popmechanic-content">
                                <div class="popmechanic-header">
                                    @ResourceSetting.StartPageQuestionTitle
                                    @*Вопросы и ответы для новых Субъектов ГЭР*@
                                </div>
                                <div class="popmechanic-text">
                                    @ResourceSetting.StartPageQuestion: <span style="color: cornflowerblue">@ResourceSetting.StartPageQuestionContent</span>  <a href="/Home/QuestionAnswers" style="text-decoration: blink; color: #fbb450">@ResourceSetting.StartPageQuestionMore …</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="popmechanic-inputs--wrapper" style="width: 50%;">
                                <div class="popmechanic-inputs">
                                    <a href="/Home/QuestionAnswers" style="text-decoration: blink; width: 203px;">
                                        <button class="btn-popup" style="font-weight: bolder;">@ResourceSetting.StartPageQuestionLink</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal2-footer">
            </div>
        </div>

    </div>

    <script src="@Url.Content("~/Scripts/menu/waypoints.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/menu/jquery.animateNumber.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/menu/slick.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/menu/jquery.easypiechart.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/menu/jquery.prettyPhoto.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/menu/jquery.sharrre.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/menu/jquery.elevateZoom-3.0.8.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/menu/jquery.placeholder.js")" type="text/javascript"></script>
    @*    <script src="@Url.Content("~/Scripts/menu/twitterfeed.js")" type="text/javascript"> </script>*@
    <script src="@Url.Content("~/Scripts/menu/jflickrfeed.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/menu/jquery.nicescroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/menu/own.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/menu/script.js")" type="text/javascript"></script>
    <script>
        $(function () {

            if (location.port == 81)
                $('.test-span').text('Тестовая версия');

        });
    </script>

    <script>
        $(function () {
            $('#myModal').click(function () {
                $(this).css("display", "none");
            });

            $('.btn-popup').click(function () {
                window.document.location.href = "https://www.google.kz/";
            });

            /*var d ="";
            console.log("d=", d);
            var arrStr = d.split('|');
            var arrCn = arrStr[0].split(';');
            var arrName = arrStr[1].split(';');
            var dData = [];
            for (var i = 0; i < arrCn.length; i++) {
                dData.push({ cn: arrCn[i], name: arrName[i] });
            }
            console.log("ddata=", dData);
            var excluded = dData.find(x=>x.name === 'исключено').cn;
            var ul = dData.find(x=>x.name === 'юл').cn;
            var gu = dData.find(x=>x.name === 'гу').cn;
            var ip = dData.find(x=>x.name === 'ип').cn;
            var kv = dData.find(x=>x.name === 'кв').cn;
            var ukl = dData.find(x=>x.name === 'уклонились').cn;
            var ger = dData.find(x=>x.name === 'субъекты гэр').cn;
            var reestr = dData.find(x=>x.name === 'в реестре').cn;

            $('#span-excluded').val(12);
            document.getElementById("span-excluded").innerHTML = 12;
            $('.subject-ger').val(ger);
            $('.bias').val(ukl);
            $('.reestr').val(reestr);*/
        })
    </script>
    <style>
        /* The Modal (background) */
        .modal2 {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 12000; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            -webkit-animation-name: fadeIn; /* Fade in the background */
            -webkit-animation-duration: 0.4s;
            animation-name: fadeIn;
            animation-duration: 0.4s, background-color: rgba(0, 0, 0, 0.8) !important;
            color: #fafafa !important;
        }

        /* Modal Content */
        .modal2-content {
            position: fixed;
            bottom: 0;
            background-color: #fefefe;
            width: 100%;
            -webkit-animation-name: slideIn;
            -webkit-animation-duration: 0.4s;
            animation-name: slideIn;
            animation-duration: 0.4s;
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* The Close Button */
        .modal2-header .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
            position: relative;
            z-index: 15000;
        }

            .modal2-header .close:hover,
            .modal2-header .close:focus {
                color: white;
                text-decoration: none;
                cursor: pointer;
            }

        .modal2-header {
            padding: 2px 16px;
            color: #fafafa;
        }

        .modal2-body {
            padding: 2px 16px;
        }

        .modal2-footer {
            padding: 2px 16px;
            color: #fafafa;
        }

        .modal2-body {
            max-width: 1280px;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }


        .popmechanic-content {
            margin-right: 20px;
            color: #fafafa;
        }

        .popmechanic-header {
            font-size: 30px;
            font-weight: bold;
            line-height: 1.07;
            letter-spacing: 0.7px;
            margin-bottom: 16px;
            max-width: 670px;
        }

        .popmechanic-text {
            max-width: 525px;
            max-width: 100%;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.4px;
        }

        .btn-popup {
            display: inline;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 1px;
        }

        .btn-popup {
            border: 0;
            display: block;
            width: 100%;
            max-width: 239px;
            margin: 0 auto;
            padding: 8px 10px;
            text-align: center;
            background: #fec81e !important;
            -webkit-border-radius: 40px;
            border-radius: 10px;
            -webkit-transition: .3s ease;
            transition: .3s ease;
            color: red;
            text-transform: uppercase;
            font-weight: 700;
            font: 16px/1.2 'Roboto-Regular',bold;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
        }




        .popmechanic-inputs {
            display: flex;
            max-width: 500px;
            margin-left: 100px;
            margin-top: 25px;
        }
    </style>
</body>
</html>
